@charset "UTF-8";

@font-face {
    font-family: 'vanilla';
    src: url('fonts/Vanilla\ Caramel.otf') format('opentype');
    font-weight: bolder;
}

* {
    margin: 0px;
    padding: 0px;
}


:root {
    --fontTitulos: 'vanilla';
}

body {
    background-image: url('imagens/imagem\ de\ fundo.png');
    background-color: black;
    background-position: center center;
    background-attachment: fixed;
}

header > h1 {
    font-family: var(--fontTitulos);
    text-align: center;
    font-size: 2.4em;
    padding: 10px;
    margin: 10px;
}

main {
    /* min-height: ; */
    height: 91vh;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    line-height: 1.5em;
    list-style-position: inside;
    
}

#base {
    background-color: rgba(0, 0, 0, 0.897);
    color: #ffffffd5;
    padding: 10px;
    border-radius: 3px;
    border-radius: 5px;
}

.operacoes {
    display: none;
}

.operacoes > div {
    background-color: rgba(59, 59, 59, 0.267);
}

input {
    background-color: rgba(0, 0, 0, 0.342);
    color: #fff;
}

button {
    background-color: rgba(141, 141, 141, 0.705);
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin: 10px 10px 5px 0px;
}

footer {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    padding: 10px;
}