@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('imagens/imagem\ de\ fundo.png');
    background-color: black;
    background-position: center center;
    background-attachment: fixed;
}

header > h1 {
    text-align: center;
}

main {
    /* min-height: ; */
    height: 91vh;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    line-height: 1.5em;
    list-style-position: inside;
    
}

#base {
    background-color: rgba(0, 0, 0, 0.719);
    color: #ffffffd5;
    padding: 10px;
    border-radius: 3px;
    border-radius: 5px;
}

.operacoes {
    display: none;
}

.btn {
    background-color: rgb(148, 148, 148);
    padding: 5px;
    border: none;
    border-radius: 4px;
}

footer {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    padding: 10px;
}